<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="">

	<div th:replace="~{includes/bootstrap :: bootstrapMeta}"/>
    <title>Paper Dragon Character</title>
	<div th:replace="~{includes/bootstrap :: bootstrapCSS}"/>

    <!-- Core CSS - Include with every page -->
    <link href="resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="resource/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="resource/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="resource/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="resource/css/sb-admin.css" rel="stylesheet">





    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0; height: 10px">
		
		
		 <!-- include the topBar Page fragment-->
			<div th:replace="~{includes/topBar :: topBarPage}"></div>
            
            
            	<!-- include the footer Sidebar Page fragment-->
            <div th:replace="~{includes/sideBar :: sideBarPage}"></div>
            
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Character</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Overview
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart">
	 
								<div class="col-sm-6">
																									 
																							  
							</div>    
								    
								    
								    <div class="panel-body">
								    
								    <div class="col-lg-4">
				                    <div class="panel panel-default">
				                        <div class="panel-heading">
				                            <h4 style="color:#00b1b1;"><span th:text="${user.character.name}"></span> </h4></span>
				                            <span><p><span th:text="${user.character.gender}"></span>  </p></span> 
				                        </div>
				                        <div class="panel-body">
				                            <p>
				                            
				                            	<div class="col-sm-5 col-xs-6 tital " style="width:70%" th:text="'Strength (STR): ' + '&nbsp&nbsp&nbsp&nbsp&nbsp' + ${user.character.strength}"></div>												
													 <a class="btn btn-success" href=/addStrength>+</a>
													 <a class="btn btn-danger" href=/subStrength>-</a>
												<div class="bot-border"></div>
												<br>
												<div class="col-sm-5 col-xs-6 tital "  style="width:70%" th:text="'Dexterity (DEX): ' + '&nbsp&nbsp&nbsp&nbsp&nbsp' + ${user.character.dexterity}"></div>
												   <a  class="btn btn-success" href=/addDexterity>+</a>
													 <a  class="btn btn-danger" href=/subDexterity>-</a>
												<div class="bot-border"></div>
												<br>
												<div class="col-sm-5 col-xs-6 tital " style="width:70%" th:text="'Intelligence (INT): ' + '&nbsp&nbsp&nbsp&nbsp&nbsp' + ${user.character.intelligence}"></div>
												   <a class="btn btn-success" href=/addIntelligence>+</a>
													 <a class="btn btn-danger" href=/addIntelligence>-</a>
												<div class="bot-border"></div>
												<br>
												<div class="col-sm-5 col-xs-6 tital " style="width:70%" th:text="'Constitution (CON): ' + '&nbsp&nbsp&nbsp&nbsp&nbsp' + ${user.character.constitution}"></div>
												   <a class="btn btn-success" href=/addConstitution>+</a>
													 <a class="btn btn-danger" href=/subConstitution>-</a>
												<div class="bot-border"></div>
												<br>
												<div class="col-sm-5 col-xs-6 tital " style="width:70%" th:text="'Vitality (VIT): ' + '&nbsp&nbsp&nbsp&nbsp&nbsp' + ${user.character.vitality}"></div>
												   <a class="btn btn-success" href=/addVitality>+</a>
													 <a class="btn btn-danger" href=/subVitality>-</a>
												<div class="bot-border"></div>
												<br>
												<div class="col-sm-5 col-xs-6 tital " style="width:70%" th:text="'Wisdom (WIS): ' + '&nbsp&nbsp&nbsp&nbsp&nbsp' + ${user.character.wisdom}"></div>
 													<a class="btn btn-success" href=/addWisdom>+</a>
													 <a class="btn btn-danger" href=/subWisdom>-</a>
												<div class="bot-border"></div>
												<br>
												<div class="col-sm-5 col-xs-6 tital " style="width:70%" th:text="'Charisma (CHA): ' + '&nbsp&nbsp&nbsp&nbsp&nbsp' + ${user.character.charisma}"></div>
				                             <a  class="btn btn-success" href=/addCharisma>+</a>
											 <a  class="btn btn-danger" href=/subCharisma>-</a>
				                            
				                            
				                            </p>
				                        </div>
				                        <div class="panel-footer">
				                        </div>
				                    </div>
				                </div>
								    
								    
                        

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="home-pills">
                              
                            </div>
                        </div><center><font size="5" color="black" ><b>Lore:</font></center>

   					
   					<textarea name="lore" class="form-control" form="lore" rows="3" style="margin: 0px 585px 0px 0px; width: 1020px; height: 400px;"></textarea>
    					<form id="lore" action="/updateLore">
						
						<input type="submit" class="btn btn-info" value="Save Lore" style="float: right;">
						</form>
						
						
						 
						</div>
						</div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                
                
   <!--  --------------------------------------------------------------------------------------- -->             
                
                
     <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Inventory
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        
                        
                        
        <div class="container" role="main">


		<!-- include the Nav bar fragment-->
		<nav th:replace="~{includes/searchNav :: search}"></nav>

	
		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th data-sortable="true">Icon</th>
							<th data-sortable="true">Name</th>
							<th data-sortable="true">STR</th>
							<th data-sortable="true">DEX</th>
							<th data-sortable="true">INT</th>
							<th data-sortable="true">CON</th>
							<th data-sortable="true">VIT</th>
							<th data-sortable="true">WIS</th>
							<th data-sortable="true">CHA</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody th:if="${false}">
						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="item : ${character.items}">
							<td th:text="${item.itemBase.picture}"></td>
							<td th:text="${item.itemBase.name}"></td>
							<td th:text="${{item.itemBase.strength}"></td>
							<td th:text="${{item.itemBase.dexterity}"></td>
							<td th:text="${{item.itemBase.inteligenz}"></td>
							<td th:text="${{item.itemBase.constitution}"></td>
							<td th:text="${{item.itemBase.vitality}"></td>
							<td th:text="${{item.itemBase.wisdom}"></td>
							<td th:text="${{item.itemBase.charisma}"></td>

							<td>
								<a th:href="@{/equipItem(id=${item.id})}" class="btn btn-xs btn-success">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									Equip
								</a>

								<a th:href="@{/dropItem(id=${item.id})}" class="btn btn-xs btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									Drop
								</a>

							</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
                       
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                
                
   <!--  --------------------------------------------------------------------------------------- -->                       
                
                
                
                <!-- /.col-lg-12 -->
				<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Equipment Overview
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        
                        
                            <div class="flot-chart">
                              
                                
                                <div style="boarder-sytle:solid; height:300px; width:50%">
                                	
                                	<img src="resource/images/items/1HWeapon/Amberwing.png" style="position:relative; border-style:solid; right:-450px; border-width:3px; top:200px; width:80px"> 
                                	<img src="resource/images/items/1HWeapon/Amberwing.png" style="position:relative; top:-10px; right:-450px; border-style:solid; border-width:3px; width:80px"> 
                                	<img src="resource/images/items/1HWeapon/Amberwing.png" style="border-style:solid; width:80px; border-width:3px;"> 
                                	<img src="resource/images/items/1HWeapon/Amberwing.png" style="border-style:solid; width:80px; border-width:3px;"> 
                                	
                                </div>
                                
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                
                <!-- /.col-lg-6 -->
                
                <!-- /.col-lg-6 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Export Excel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>Click the Button below to copy your Character Stats to an Excel-File.</p>
                            <a target="_blank" class="btn btn-default btn-lg btn-block" href="#">Export</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Flot -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Flot - Use for reference -->
    <script src="js/demo/flot-demo.js"></script>




</body></html>