<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Paper Dragon Index</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

<!-- Core CSS - Include with every page -->
<link href="resource/css/bootstrap.min.css" rel="stylesheet">
<link href="resource/font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- Page-Level Plugin CSS - Dashboard -->
<link href="resource/css/plugins/morris/morris-0.4.3.min.css"
	rel="stylesheet">
<link href="resource/css/plugins/timeline/timeline.css" rel="stylesheet">

<!-- SB Admin CSS - Include with every page -->
<link href="resource/css/sb-admin.css" rel="stylesheet">


</head>

<body style="">

	<div id="wrapper">

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation"
			style="margin-bottom: 0; height: 10px">




			<!-- include the topBar Page fragment-->
			<div th:replace="~{includes/topBar :: topBarPage}"></div>


			<!-- include the footer Sidebar Page fragment-->
			<div th:replace="~{includes/sideBar :: sideBarPage}"></div>


		</nav>
		<!-- include the footer Sidebar Page fragment-->



		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<br>
					<h1 class="page-header">Main</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-bar-chart-o fa-fw"></i> Character Info
							<div class="pull-right">
								<div class="btn-group">
									<button type="button"
										class="btn btn-default btn-xs dropdown-toggle"
										data-toggle="dropdown">
										Actions <span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-right" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>
							</div>
						</div>




						<!-- /.panel-heading -->
						<div class="panel-body">



							<div id="morris-area-chart" style="position: relative;">




								<div class="box box-info">

									<div class="box-body">
										<div class="col-sm-6">
											<form
												th:action="@{'/uploadProfilePic' +'?' + ${_csrf.parameterName} + '=' + ${_csrf.token}}"
												enctype="multipart/form-data" method="post">
												<div align="center">
													<input type="image"	th:src="${user.picture} ? @{'data:image/jpeg;base64,'+*{T(org.springframework.util.Base64Utils).encodeToString(user.picture.content)}} : 'https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg'"
														id="profile-image1" class="img-circle img-responsive"
														style="width: 200px"> 
														<p>&nbsp;</p>
									
													<input type="file" id="my_file" name="my_file" accept="image/*" />

													<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
													<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
													<script>
														$("input[type='image']")
																.click(
																		function() {
																			$(
																					"input[id='my_file']")
																					.click();
																		});
													</script>
													<p>&nbsp;</p>
													<button>Upload Picture</button>
													<div style="color: #999;">click here to change
														profile image</div>
											</form>
											<!--Upload Image Js And Css-->

										</div>
										<br>
									</div>
								</div>
							</div>





							<div class="col-sm-6">
								<h4 style="color: #00b1b1;">
									Character Name: <span th:text="${user.character.name}"></span>
								</h4>
								</span> <span><p>
										Gender: <span th:text="${user.character.gender}"></span>
									</p></span>
							</div>
							<div class="clearfix"></div>
							<hr style="margin: 5px 0 5px 0;">


							<h2>Stats:</h2>

							<div class="col-sm-5 col-xs-6 tital ">Strength (STR):</div>
							<div class="col-sm-7 col-xs-6 "
								th:text="${user.character.strength}"></div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Dexterity (DEX):</div>
							<div class="col-sm-7" th:text="${user.character.dexterity}"></div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Intelligence (INT):</div>
							<div class="col-sm-7" th:text="${user.character.intelligence}"></div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Constitution (CON):</div>
							<div class="col-sm-7" th:text="${user.character.constitution}"></div>

							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Vitality (VIT):</div>
							<div class="col-sm-7" th:text="${user.character.vitality}"></div>

							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Wisdom (WIS):</div>
							<div class="col-sm-7" th:text="${user.character.wisdom}"></div>

							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Charisma (CHA):</div>
							<div class="col-sm-7" th:text="${user.character.charisma}"></div>








							<desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></desc>
							<defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
						</div>



					</div>
					<!-- /.panel-body -->



				</div>
				<!-- /.panel -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-bar-chart-o fa-fw"></i> Gamesession
						<div class="pull-right">
							<div class="btn-group">
								<button type="button"
									class="btn btn-default btn-xs dropdown-toggle"
									data-toggle="dropdown">
									Actions <span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right" role="menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-4">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-striped"
										th:if="${gameSession}">
										<thead>
											<tr>
												<th>Name of Gamesession</th>
												<th>Members Online</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user : ${gameSession.users}">
												<td th:text="${gameSession.name}"></td>
												<td><a th:text="${user.userName}" th:href="'characterview.html?'+'name='+${user.userName}"></a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->
							</div>
							<!-- /.col-lg-4 (nested) -->
							<div class="col-lg-8">
								<div id="morris-bar-chart" style="position: relative;">
									<div class="morris-hover morris-default-style"
										style="left: 415.596px; top: 138px; display: none;">
										<div class="morris-hover-row-label">2012</div>
										<div class="morris-hover-point" style="color: #0b62a4">
											Series A: 100</div>
										<div class="morris-hover-point" style="color: #7a92a3">
											Series B: 90</div>
									</div>
								</div>
							</div>
							<!-- /.col-lg-8 (nested) -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
				<div class="panel panel-default">

					<!-- /.panel-heading -->

					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-8 -->
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-bell fa-fw"></i> Notifications Center
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="list-group">
							<a href="#" class="list-group-item"> <i
								class="fa fa-comment fa-fw"></i> New Comment <span
								class="pull-right text-muted small"><em>4 minutes
										ago</em> </span>
							</a> <a href="#" class="list-group-item"> <i
								class="fa fa-twitter fa-fw"></i> 3 New Followers <span
								class="pull-right text-muted small"><em>12 minutes
										ago</em> </span>
							</a> <a href="#" class="list-group-item"> <i
								class="fa fa-envelope fa-fw"></i> Message Sent <span
								class="pull-right text-muted small"><em>27 minutes
										ago</em> </span>
							</a> <a href="#" class="list-group-item"> <i
								class="fa fa-tasks fa-fw"></i> New Task <span
								class="pull-right text-muted small"><em>43 minutes
										ago</em> </span>
							</a> <a href="#" class="list-group-item"> <i
								class="fa fa-upload fa-fw"></i> Server Rebooted <span
								class="pull-right text-muted small"><em>11:32 AM</em> </span>
							</a> <a href="#" class="list-group-item"> <i
								class="fa fa-bolt fa-fw"></i> Server Crashed! <span
								class="pull-right text-muted small"><em>11:13 AM</em> </span>
							</a> <a href="#" class="list-group-item"> <i
								class="fa fa-warning fa-fw"></i> Server Not Responding <span
								class="pull-right text-muted small"><em>10:57 AM</em> </span>
							</a>


						</div>
						<!-- /.list-group -->
						<a href="#" class="btn btn-default btn-block">View All Alerts</a>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
				<div class="panel panel-default">


					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
				<div class="chat-panel panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-comments fa-fw"></i> Chat Center
						<div class="btn-group pull-right">
							<button type="button"
								class="btn btn-default btn-xs dropdown-toggle"
								data-toggle="dropdown">
								<i class="fa fa-chevron-down"></i>
							</button>
							<ul class="dropdown-menu slidedown">
								<li><a href="#"> <i class="fa fa-refresh fa-fw"></i>
										Refresh
								</a></li>
								<li><a href="#"> <i class="fa fa-check-circle fa-fw"></i>
										Available
								</a></li>
								<li><a href="#"> <i class="fa fa-times fa-fw"></i> Busy
								</a></li>
								<li><a href="#"> <i class="fa fa-clock-o fa-fw"></i>
										Away
								</a></li>
								<li class="divider"></li>
								<li><a href="#"> <i class="fa fa-sign-out fa-fw"></i>
										Sign Out
								</a></li>
							</ul>
						</div>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body" >
						<span th:if="!${gameSession}"> To use the chat join a Game Session</span>
						<div th:if="${gameSession}">
							<table data-toggle="table" class="table table-hover">
								<thead>
									<tr>
										<th>UserName</th>
										<th>Nachricht</th>
										<th>Zeit</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="line : ${gameSession.chatLines}">
										<td><a th:text="${line.user.userName} +':'" th:href="'characterview.html?'+'name='+${line.user.userName}"></a></td>
										<td th:text="${line.text}">Nachricht</td>
										<td th:text="${line.date}">Zeit</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /.panel-body -->
					<div class="panel-footer">
						<div class="input-group">
							<form method="post" th:action="@{/chat}">
								<input id="btn-input" type="text" class="form-control input-sm"
									name="text" placeholder="Type your message here..."
									style="width: 93%"> <span class="input-group-btn"
									style="float: right">
									<button class="btn btn-warning btn-sm" id="btn-chat">
										Send</button>
								</span>
							</form>
						</div>
					</div>
					<!-- /.panel-footer -->
				</div>
				<!-- /.panel .chat-panel -->
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

			<!-- Core Scripts - Include with every page -->
			<script src="resource/js/jquery-1.10.2.js"></script>
			<script src="resource/js/bootstrap.min.js"></script>
			<script src="resource/js/plugins/metisMenu/jquery.metisMenu.js"></script>

			<!-- Page-Level Plugin Scripts - Flot -->
			<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
			<script src="resource/js/plugins/flot/jquery.flot.js"></script>
			<script src="resource/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
			<script src="resource/js/plugins/flot/jquery.flot.resize.js"></script>
			<script src="resource/js/plugins/flot/jquery.flot.pie.js"></script>

			<!-- SB Admin Scripts - Include with every page -->
			<script src="resource/js/sb-admin.js"></script>




	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>

</html>
