<div th:fragment="sideBarPage">
		
		  <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Main</a>
                        </li>
                        <li>
                            <a href="characterpage.html"><i class="fa fa-bar-chart-o fa-fw"></i>  Character<span class="fa arrow"></span></a>
              
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="itemarchive.html"><i class="fa fa-table fa-fw"></i> Items</a>
                        </li>
                        <li>
                            <a href="contacts.html"><i class="fa fa-edit fa-fw"></i> Contacts</a>
                        </li>
                        <li>
                            <a href="gamesessionview.html"><i class="fa fa-wrench fa-fw"></i> Group<span class="fa arrow"></span></a>
                           
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="gamesessioncreate.html"><i class="fa fa-sitemap fa-fw"></i> Create Group<span class="fa arrow"></span></a>
                 
                        </li>
                        <li>

                <!-- /.sidebar-collapse -->
            </div>
            
         <style>
			.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 10%;
			text-align: center;
			padding-bottom: 30px;
		}
		</style>

		
		<div class="footer"> 
		
		<img src="resource/images/logo-fh.png" alt="IMG">		
					Staudacher, Gartner, Schmitzer &#169 2018 
					
		
        <a href="#" class="txt2">Impressum</a>
		
		</div>
            
            
            
            <!-- /.navbar-static-side -->

</div>
